<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sails-Docker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(user){ %>
        <li class="nav-item">
          <a class="nav-link">
            Hi, <%= user.firstName %>
          </a>
        </li>
        <% } %>
        <li class="nav-item">
          <% if(!user){ %>
          <a class="nav-link" href="/auth/login">Log In</a>
          <% }else{ %>
          <a class="nav-link" href="/auth/logout">Log Out</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-auto align-content-md-center">
      <div class="page_intro">
        <h1>
          Welcome to the sails-docker example site.
        </h1>
        <% if(user){ %>
        <h4>Below, you'll find a beautiful list of all our users.</h4>
        <% }else { %>
        <h4>Please log in to view the user list (top right corner).</h4>
        <% } %>
      </div>
      <% if(user){ %>
      <div class="user_list">
        <table class="table">
          <thead class="thead-inverse">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
          </tr>
          </thead>
          <tbody>
          <%for(var i = 0; i < users.length; i++){%>
          <tr>
            <td><%=users[i].firstName%></td>
            <td><%=users[i].lastName%></td>
            <td><%=users[i].email%></td>
          </tr>
          <%}%>
          </tbody>
        </table>
      </div>
      <% } %>

      <% if(loggedOut){ %>
      <div class="alert alert-warning alert-dismissible fade show logout_alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Logged Out!</strong> You've successfully logged out.
      </div>
      <% } %>
    </div>
  </div>
</div>
